@charset "utf-8";

#survey .question-template {
    border-top:3px solid #ff7073;
}

/*#survey h3 {*/
/*	border-top:3px solid #ff7073;*/
/*}*/
#survey #header {
    border-top: 15px solid #ff7073;
}
/*.option-input:checked {*/
/*  background: #ff5a5d;*/
/*}*/
/*.option-input:checked::after {*/
/*  background: #ff5a5d;*/
/*}*/
/*#survey #send button {*/
/*    background-color: #67c3c2;*/
/*}*/
/*#survey #thanks {*/
/*    background-color: #fdeaea;*/
/*}*/
#survey footer {
    background-color: #ff7073;
}
